<div class="mb-4 font-bold">Analytics of published articles:</div>
<br>
<div class="p-4 mb-8 bg-white neeto-ui-shadow-s rounded">
  <hr>
  <table>
    <tr>
        <th style="border-top: solid 1px #fff">TITLE</th>
        <th>CATEGORY</th>
        <th>VISITS</th>
    </tr>
    <% @articles.each_with_index do |article,index| %>
    <tr>
      <div class="flexrow w-full mb-4">
        <div style="width: 100%;">
          <td style="width: 60%;"><%= article.title %></td>
          <td style="text-align: center; width: 20%;"><%= article.category.name %></td>
          <td style="text-align: center; width: 20%;"><%= article.visits %></td>
        </div>
      </div>
    </tr>
    <% end %>
  </table>
  <hr>
</div>
