.neeto-editor-fixed-menu > .neeto-editor-fixed-menu__wrapper {
  justify-content: center;
  background-color: rgb(var(--neeto-ui-gray-100));

  .neeto-editor-fixed-menu__wrapper--collapsible {
    flex-grow: 0;
    justify-content: space-between;
    min-width: 500px;
  }
}

.ProseMirror h1.is-empty:nth-child(1)::before {
  content: attr(data-placeholder);
  float: left;
  color: #6b6a6a;
  pointer-events: none;
  height: 0;
}
.ProseMirror > p.is-empty:nth-child(2):nth-last-child(2):before {
  content: attr(data-placeholder);
  float: left;
  color: #8c8a8a;
  pointer-events: none;
  height: 0;
}
