.neeto-editor-fixed-menu > .neeto-editor-fixed-menu__wrapper {
  justify-content: center;
  background-color: rgb(var(--neeto-ui-gray-100));

  .neeto-editor-fixed-menu__wrapper--collapsible {
    flex-grow: 0;
    justify-content: space-between;
    min-width: 500px;
  }
}

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
}

.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
}
