.neeto-editor-fixed-menu > .neeto-editor-fixed-menu__wrapper {
  justify-content: center;
  background-color: rgb(var(--neeto-ui-gray-100));

  .neeto-editor-fixed-menu__wrapper--collapsible {
    flex-grow: 0;
    justify-content: space-between;
    // background-color: rgb(var(--neeto-ui-gray-400));
    min-width: 500px;
  }
}

// .ne-attachments__wrapper>div{
//   display: flex;
//   flex-direction: column;

//   div:nth-child(3){
//     flex-grow: 1;
//   }
// }
